REACT_APP_GOOGLE_API_KEY=amazing-api-key-google-maps
REACT_APP_COUNTRIES_API_URL=http://countries-api.com
REACT_APP_GOOGLE_GEOCODING_API_URL=http://google-geocoding-api.com
REACT_APP_WEATHER_API_URL=http://weather-api.com